a:hover {
    text-transform: uppercase;
}

.links-h1 {
    text-align: center;
}

.p-text {
    color: blueviolet;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
 }

 #pictures-header {
     text-align: center;
 }

 #picturesContainer {
     background-color: khaki;
 }

 .login-h1 {
     text-align: center;
 }

 #inputEmail {
     width: 400px;
 }

 #inputPassword {
    width: 400px;
}